{% extends 'base.html' %}
{% block content %}
{% load static %}
<main>
    <div class="container">
        <div class="produkt_list">
                    <div id="radioButton">
                        <h1><img src='{% get_static_prefix %}images/{{list.id}}b.jpg' alt="pr{{list.id}}" class="pr{{list.id}}" style="width: 600px;"></h1>
                        <div onclick="myFunction('{{list.id}}a')" class="produkt{{list.id}}a" id="prod" tabindex="0" style="display: inline-block;"><img src='{% get_static_prefix %}images/{{list.id}}a.gif' class="prod{{list.id}}a" alt="{{list.id}}a"  style="width: 145px;"><p>Промо</p></div>
                        <div onclick="myFunction('{{list.id}}b')" class="produkt{{list.id}}b" id="prod" tabindex="0" style="display: inline-block;"><img src='{% get_static_prefix %}images/{{list.id}}b.jpg' class="prod{{list.id}}b" alt="{{list.id}}b"  style="width: 145px;"><p>{{list.color1}}</p></div>
                        <div onclick="myFunction('{{list.id}}c')" class="produkt{{list.id}}c" id="prod" tabindex="0" style="display: inline-block;"><img src='{% get_static_prefix %}images/{{list.id}}c.jpg' class="prod{{list.id}}c" alt="{{list.id}}c"  style="width: 145px;"><p>{{list.color2}}</p></div>
                        <div onclick="myFunction('{{list.id}}d')" class="produkt{{list.id}}d" id="prod" tabindex="0" style="display: inline-block;"><img src='{% get_static_prefix %}images/{{list.id}}d.jpg' class="prod{{list.id}}d" alt="{{list.id}}d"  style="width: 145px;"><p>{{list.color3}}</p></div>
                    </div>
                </div>
                <div class="produkt_list_info">
                    <h1>{{list.name}}</h1>
                    <h1>Размеры(мм): {{list.sitze}}</h1>
                    <h2>Описание: </h2>
                    <h3>{{list.descr}}</h3>
                    <p id = "count">
                        <label for="count">Шт: </label>
                        <input type="number" step="1" min="1" max="100" value="1" id="count" name="count"/>
                    </p>
                    <button id="sale">Купить {{list.price}} руб</button><br>

                </div>
    </div>
</main>
{% endblock %}